<!DOCTYPE html>
<html lang="en">
	<head>
		<title>XBOX VR - Home Menu</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta property="og:title" content="three.js webgl - effects - stereo">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://threejs.org/examples/webgl_effects_stereo.html">
		<meta property="og:image" content="https://threejs.org/examples/screenshots/webgl_effects_stereo.jpg">
		<!-- <link type="text/css" rel="stylesheet" href="main.css"> !-->
	</head>

	<style>
		html, body {
			background-color: rgb(3,3,3);
			text-align: center;
		}

		h1, h2, h3, h4, h5, h6 {
			color: white;
			font-family: sans-serif;
		}
	</style>

	<body>

		<h1>XBOX VR</h1>

		<button>Enter VR</button>

		<script type="importmap">
		{
		  "imports": {
		    "three": "/static/js/three/three.module.js",
		    "three/addons/": "/static/js/three/jsm/"
		  }
		}
		</script>

		<script type="module">

			import * as THREE from 'three';

			import { StereoEffect } from 'three/addons/effects/StereoEffect.js';

			let container, camera, scene, renderer, effect, mesh;

			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 0.1, 100 );
				camera.position.z = 3;

				scene = new THREE.Scene();

				const geometry = new THREE.BoxGeometry();

				mesh = new THREE.Mesh( geometry );
				scene.add(mesh);

				renderer = new THREE.WebGLRenderer();
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setAnimationLoop( animate );
				container.appendChild( renderer.domElement );

				renderer.domElement.requestFullscreen();

				document.body.style.cursor = 'none';

				effect = new StereoEffect( renderer );
				effect.setSize( window.innerWidth, window.innerHeight );

				//

				window.addEventListener( 'resize', onWindowResize );

			}

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				effect.setSize( window.innerWidth, window.innerHeight );

			}

			function onDocumentMouseMove( event ) {

				mouseX = ( event.clientX - windowHalfX ) * 0.01;
				mouseY = ( event.clientY - windowHalfY ) * 0.01;

			}

			//

			function animate() {
				mesh.rotation.x += 0.005;
				mesh.rotation.y += 0.01;

				camera.rotation.order = 'YXZ';

				camera.rotation.x = pitch;
				camera.rotation.y = yaw;
				camera.rotation.z = -roll;

				effect.render( scene, camera );

			}

			window.init = init;
		</script>

		<script>
			let lastTime = null;
			let yaw = 0;
			let pitch = 0;
			let roll = 0;

			function runVr() {
		               const ws = new WebSocket("ws://" + location.host + "/sock");

				ws.binaryType = "arraybuffer";
		
		                ws.onopen = () => {
			                	console.log("WebSocket connected!");
			                	ws.send("webInit_PSVR");
						init();

						lastTime = performance.now();
						
						ws.send("disable_gameMode");
		                };
		
		                ws.onmessage = (event) => {
						if (typeof event.data == "string") {
			                		console.log("XBOX VR:", event.data);
							return;
						}

						const data = new Uint8Array(event.data);

						const view = new DataView(data.buffer);

						const now = performance.now();
						const dt = (now - lastTime) / 1000;
						lastTime = now;

						yaw += (view.getInt16(20, true) / 32768) * 2000 * (Math.PI / 180) * dt;
						pitch += (view.getInt16(22, true) / 32768) * 2000 * (Math.PI / 180) * dt;
						roll += (view.getInt16(24, true) / 32768) * 2000 * (Math.PI / 180) * dt;

						console.log(yaw + ', ' + pitch + ', ' + roll);

						// ws.send("PULSE")
		 		};

				
			}

			const button = document.querySelector('button');

			button.addEventListener("click", (event) => {
				runVr();
			});
		</script>
	</body>
</html>
